<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!-- Aquí puedes agregar datos que se llamarán en la aplicación. -->
		<add key="Conexion" value="Conexion" />
	</appSettings>
	<connectionStrings>
		<!-- Modifiqué la conexión local estándar ya que SA está modificada en mi base de datos, al igual con localhost ya que tengo varios servers en la pc. -->
		<add name="Conexion" connectionString="Server=MASTERPC\SQLEXPRESS;Uid=usuario;Pwd=Admin1234;MultipleActiveResultSets=True;Timeout=120;Database=pruebademo;" />
		<!-- Agregue una cadena de conexion local con acceso directo desde el user de windows.
		<add name="Conexion" connectionString="data source=MASTERPC\SQLEXPRESS; initial catalog=pruebademo; integrated security=true" />-->
	</connectionStrings>
</configuration>